<h1>Edit Profile</h1>

<% if @current_user.errors.any? %>
  <ol>
    <% @current_user.errors.ful_message.each do |msg|%>
    <li> <%= msg %></li>
    <%end %>
  </ol>
  <% end %>

  <%= form_for @current_user do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :avatar %>
  <%= f.cl_image_upload :url %> <%= f.submit "Upload"%>
</br>

  <%= f.label :name %>
  <%= f.url_field :name %></br>

  <%= f.label :username %>
  <%= f.url_field :username %></br>

  <%= f.label :bio %>
  <%= text_area(:post, :body, cols: 20, rows: 8) %></br>


  <%= f.submit "Save changes"%>
  <% end %>
