<%= render "layouts/header" %>
<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h1>Edit Profile</h1>

      <% if @current_user.errors.any? %>
        <ol>
          <% @current_user.errors.ful_message.each do |msg|%>
          <li> <%= msg %></li>
          <%end %>
        </ol>
        <% end %>

        <%= form_for(@current_user, :html => {:multipart => true}) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :avatar %>
          <%= f.cl_image_upload :file, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :bio %><br>
          <%= text_area(:post, :body, cols: 20, rows: 8)%>
        </div>
        <div style="margin-top:20px">
          <%= f.submit :class => "btn btn-lg btn-primary btn-block"%>
        </div>

        <% end %>
    </div>

  </div>

</div>
