<h1>Edit Profile</h1>

<% if @current_user.errors.any? %>
  <ol>
    <% @current_user.errors.ful_message.each do |msg|%>
    <li> <%= msg %></li>
    <%end %>
  </ol>
  <% end %>

  <%= form_for @current_user do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :avatar %>
  <%= f.url_field :avatar %></br>

  <%= f.label :name %>
  <%= f.url_field :name %></br>

  <%= f.submit%>
  <% end %>
