<h1>Profile</h1>

<div class="jumbotron">
  <div class="container">

    <%= image_tag @user.avatar, :class => 'avatar' %>
    <%= @user.name if @user.name.present? %>
    <%= link_to "Edit Profile", users_edit_path %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="profile-images">
    <!-- <% @user.images.each do |img| %>
      <li class="col-md-4"><%= image_tag img.url , :class => "box" %></li>
    <% end %> -->

    </ul>
  </div>
</div>

<div class="row">
  <% @user.images.each do |img| %>
    <div class="col-xs-12 col-md-4">
      <a href="#" class="thumbnail">
        <%= image_tag img.url , :class => "" %>
      </a>
    </div>
  <% end %>
</div>
