<h1>Profile</h1>

<div class="jumbotron">
  <div class="container">

    <%= image_tag @user.avatar, :class => 'avatar' %>
    <%= @user.name if @user.name.present? %>
    <%= link_to '<button type="button">Edit Profile</button>'.html_safe, users_edit_path %>
  </div>
</div>
-------
<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
<!-- following part -->
<div class="row">
  <aside class="col-md-4">
    <section class="stats">
    </section>
  </aside>
  <div>
     <%= render 'follow_form' if @current_user.present? %>
  </div>
</div>


-------

<div class="row">
  <div class="col-md-12">
    <ul class="profile-images">
    <!-- <% @user.images.each do |img| %>
      <li class="col-md-4"><%= image_tag img.url , :class => "box" %></li>
    <% end %> -->

    </ul>
  </div>
</div>

<% @user.images.in_groups_of(3, false).each do |group| %>
  <div class="row">
    <!-- <%= group %> -->
    <% group.each do |img| %>
      <div class="col-xs-12 col-md-4">
        <%= link_to cl_image_tag(img.url, :class => 'img-responsive'), image_path(img.id) %>
      </div>
    <% end %>
  </div>
<hr>
<% end %>
