<!DOCTYPE html>
<html>
<head>
  <title>Pro Photo</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css" rel="stylesheet" integrity="sha384-C0X5qw1DlkeV0RDunhmi4cUBUkPDTvUqzElcNWm1NI2T4k8tKMZ+wRPQOhZfSJ9N" crossorigin="anonymous">

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%#= cloudinary_js_config %>
  <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" id="st_insights_js" src="https://ws.sharethis.com/button/buttons.js?publisher=6e75c87f-5f60-496f-b962-878346a301d2"></script>
    <script type="text/javascript">stLight.options({publisher: "6e75c87f-5f60-496f-b962-878346a301d2", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body class="<%= params[:controller] %> <%=params[:action]%>">

  <%= yield %>

</body>
</html>
